{% extends "teachers/layout.html" %}

{% block title %}Flashcards - Assignment{% endblock %}

{% block main %}
    <h1>Assignment</h1>
    <h2>{{ request.user.username }}</h2>
    <table id="assignment-flashcards">
        <tbody>
            {% for flashcard in flashcards %}
                <tr>
                    <td class="image">
                        {% if flashcard.image %}
                            <img src="{{ flashcard.image.url }}" alt="Flashcard Image">
                        {% endif %}
                    </td>
                    <td class="front">{{ flashcard.front }}</td>
                    <td class="back">{{ flashcard.back }}</td>
                    <td class="checkbox"><input class="flashcard-checkbox" type="checkbox" data-flashcard-id="{{ flashcard.id }}" checked></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="search" id="assignment-search" class="search" name="query" placeholder="Search flashcards" value="{{ query }}">
    <table id="search-results"></table>
{% endblock %}