{% extends "teachers/layout.html" %}

{% block title %}Flashcards - Students{% endblock %}

{% block main %}
    <p>Students</p>
    <ul id="students-student">
        {% for student in students %}
            <li>
                <a href="{% url 'teachers:student' student.user.id %}">{{ student }}</a>
                <input type="checkbox" data-student-id="{{ student.user.id }}" class="student-checkbox" checked>
            </li>
        {% endfor %}
    </ul>
    <input type="search" id="students-search" name="query" placeholder="Search" value="{{ query }}" autofocus>
    <ul id="search-results"></ul>
{% endblock %}