{% extends "students/layout.html" %}

{% load static %}

{% block title %}Flashcards - Multiple Choice{% endblock %}

{% block body %}
    <main>
        <progress class="progress-bar" value="0" max="7"></progress>
        <div class="question-container">
            <div class="top-half">
                <div class="multiple-choice-question"></div>
                <img alt="Flashcard image"></img>
            </div>
            <div class="bottom-half">
                <div class="multiple-choice-label">Select the matching term</div>
                <div class="multiple-choice-answer">
                    <button id="answer1" class="answer"></button>
                    <button id="answer2" class="answer"></button>
                    <button id="answer3" class="answer"></button>
                    <button id="answer4" class="answer"></button>
                </div>
            </div>
        </div>
    </main>

    <script>
        let csrfToken = "{{ csrf_token }}";
        let getFlashcardsUrl = "{% url 'students:get_flashcards' %}";
        let updateResultsUrl = "{% url 'students:update_results' %}";
        let indexUrl = "{% url 'students:index' %}";
        let multipleChoiceUrl = "{% url 'students:multiple_choice' %}";
    </script>
    <script src="{% static 'students/multiple_choice.js' %}"></script>
{% endblock %}