/* General layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 3px;
}

body {
    min-height: 100vh;
    background-color: #f9f9f9;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 280px;
    height: 100vh;
    background-color: #f3f3f3;
    border-right: #e0e0e0 solid 1px;
    overflow: hidden;
}

.sidebar ul {
    position: relative;
    height: 100vh;
    overflow-y: auto;
}

.sidebar ul li {
    list-style: none;
    margin: 5px;
}

.sidebar ul li:hover,
.sidebar ul li .active {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.sidebar ul li .active::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 50%;
    align-items: center;
    background-color: #fa233b;
    border-radius: 2px;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
}

.sidebar ul li a .icon img {
    width: 20px;
    height: 20px;
}

.sidebar ul li a .text {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    color: #000000;
}

.deck-container {
    height: calc(100% - 210px);
    overflow-y: auto;
    border-top: #e0e0e0 solid 1px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: #e0e0e0 solid 1px;
}

.bottom button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: calc(100% - 10px);
    height: 35px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    color: #000000;
}

.bottom button .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
}

.bottom button .icon img {
    width: 20px;
    height: 20px;
}

.bottom button:hover {
    background-color: #eaeaea;
    border-radius: 5px;
}

main {
    margin-left: 280px;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    main {
        margin-left: 150px;
    }
}

/* Main content */
main h1 {
    font-size: 28px;
    color: #000000;
    padding-left: 20px;
}

main h2 {
    font-size: 24px;
    font-weight: 500;
    color: #fa233b;
    padding-left: 20px;
    padding-top: 10px;
}

main table {
    width: 100%;
    border-collapse: separate;
    margin: 40px 0px;
}

main table tr {
    display: flex;
    margin: 3px;
}

main table tr:nth-child(odd) {
    background-color: #f4f4f4;
    border-radius: 5px;
}

main table tr:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

main table .image {
    display: flex;
    align-items: center;
    width: 80px;
    padding-left: 25px;
}

main table .image img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

main table .front,
main table .back,
main table .name,
main table .score,
main table .state,
main table .deck-name,
main table .deck-user {
    display: flex;
    align-items: center;
    height: 53px;
    font-size: 0.9em;
    font-weight: 500;
}

main table .front {
    width: 45%;
    color: #000000;
}

main table .back {
    width: 45%;
    color: #7b7b7b;
}

main table .name {
    width: 30%;
    color: #000000;
    padding-left: 25px;
}

main table .score {
    width: 30%;
}

main table .score div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60px;
    height: 30px;
}

main table .state {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 25px;
}

main table .state div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

main table .deck-name {
    width: 50%;
    color: #000000;
    padding-left: 25px;
}

main table .deck-user {
    width: 45%;
    color: #7b7b7b;
}

main table .view-progress,
main table .view-deck {
    display: flex;
    align-items: center;
}

main table .view-progress a,
main table .view-deck a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: #000000;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
}

main table .view-deck a {
    width: 100px;
    margin-left: auto;
    margin-right: 25px;
}

main table .view-progress a:hover,
main table .view-deck a:hover {
    background-color: #fa233b;
    border: 2px solid #fa233b;
    color: #ffffff;
}

main table .checkbox {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
}

main table .checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

main table .checkbox input[type="checkbox"]:checked {
    background-color: #fa233b;
    border: 2px solid #fa233b;
}

main table .checkbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 0.2em 0.2em 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

main table .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 25px;
}

main table .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa233b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 500;
}

main table .remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main table .remove-button:hover {
    background-color: #e8e8e8;
}

main table .remove-button img {
    width: 20px;
    height: 20px;
}

.search {
    padding: 10px 20px;
    border: #e0e0e0 solid 1px;
    border-radius: 20px;
    font-size: 0.9em;
    width: 350px;
}

.search::placeholder {
    color: #7b7b7b;
}

.search:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Custom items */
#global-search {
    margin: 10px 0px 20px 20px;
}

.search-tabs {
    margin: 0px 0px 40px 20px;
}

.search-tabs button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    background-color: #f4f4f4;
}

.search-tabs button:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-tabs button.active {
    background-color: #000000;
    color: #ffffff;
}

.search-item {
    display: none;
}

.search-item.active {
    display: flex;
}

.progress-container {
    padding: 0px 10px;
    margin: 20px 0px 40px 0px;
    width: 50%;
}

.progress-container li {
    list-style: none;
    font-size: 0.9em;
    font-weight: 500;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.score-low {
    background-color: #ffe6e6;
    border: none;
    color: #c83e80;
}

.score-medium {
    background-color: #ede2f6;
    border: none;
    color: #823abb;
}

.score-high {
    background-color: #e2f1fa;
    border: none;
    color: #2875ad;
}

.score-perfect {
    background-color: #e6ffe6;
    border: none;
    color: #32b2ab;
}

#studying-progress {
    font-size: 20px;
    color: #000000;
}

#studying-progress-score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    border-radius: 20px;
}